extends ../../layouts/content
include ../../mixins/chat
include ../../mixins/popup
include ../../mixins/dropdown

append head
  title Chat
  link(rel='stylesheet', href='/styles/chat.scss')
  link(rel='stylesheet', href='/styles/form.scss')
  link(rel='stylesheet', href='/styles/popup.scss')
block content
  .chat-page
    .sidebar
      .sidebar__heading
        nav.sidebar__nav
          a.sidebar__link(href='#') Profile
          span.sidebar__arrow-icon >
        .sidebar__search
          input.sidebar__search-input(type='text' placeholder='Search')
      ul.chats
        each item in createArray(7)
          +chat({
            name: 'Albert Einstein',
            avatar: '../../../static/images/default-avatar.png',
            message: 'Lorem ipsum',
            newMessage: Math.random() > 0.5,
            newMessageCount: 10 * Math.random(),
            time: '12:00',
          })
    .chat
      header.chat__header
        .chat__user-info
          img.chat__avatar(src='../../../static/images/default-avatar.png', alt='User avatar')
          p.chat__username Albert Einstein
        .chat__settings
          button.chat__settings-button
          .dropdown.dropdown--settings
            +dropdown('Add user')
            +dropdown('Remove user')
      .chat__body
        ul.chat__messages
          //+message({ message: 'Lorem ipsum', time: '12:00', isUser: true })
      .chat__actions
        button.chat__attach-button
        .dropdown.dropdown--attach
          +dropdown('Photo or Video')
          +dropdown('File')
          +dropdown('Location')
      form.chat__message(action='/')
        input.chat__message-input(type='Text', placeholder='Your message', name='message')
        button.chat__send-message-button Some Icon
  +popup(false, 'post', '#', [{
      label: 'Login',
      placeholder: 'Login',
      required: true,
      name: 'login',
      id: 'login',
      type: 'text',
      maxlength: 30,
      minlength: 3,
      autofocus: true,
      autocomplete: true,
    }],
    'Add user',
  )