aside.sidebar
  SearchPanel(data='searchPanel')
  Chats(data='chats')
main.main
  TopPanel.top-panel(data='topPanel')
  if currentChat
    if time
      Time(data='time')
    Messages(data='chatsList')
    SendMessagePanel(data='sendMessage')
    ErrorMessage(data='error')
  else
    h3.main__no-chat-text='Create or select existing chat to start wasting your time'

AddUserPopup(data='addUserPopup')
DeleteUserPopup(data='deleteUserPopup')
CreateChatPopup(data='createChatPopup')
UsersMenu(data='usersMenu')
