div(class=`usersMenu${isOpened ? '_is-opened' : ''}` id='usersMenu')
  button.usersMenu__button
    include ../../../static/assets/icons/add-user.svg
    p='Add User'
  button.usersMenu__button
    include ../../../static/assets/icons/delete-user.svg
    p='Delete User'
