.send-message {
  display: flex;
  max-height: 54px;
  padding: 11px 20px;
  gap: 10px;

  &__icon {
    width: 32px;
    height: 32px;
    background-image: url("../../../static/assets/icons/add-files.svg");
    border: none;
  }

  &__input {
    width: 100%;
    border-radius: 30px;
    background-color: #efefef;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 1;
  }

  &__submit {
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url("../../../static/assets/icons/arrow-button.svg");
  }
}
