extends ../layouts/content
include ../mixins/errorPage
append head
  title 404
  link(rel="stylesheet", href="/styles/error-page.scss")
block content
  +errorPage({
    title: '404',
    text: 'Oops, seems you were knock-knock-knockin on the wrong door',
    linkText: 'Back to chats',
    href: '/',
  })
