extends ../layouts/content
include ../mixins/popup
append head
  title Change password
  link(rel="stylesheet", href="/styles/profile.scss")
block content
  +popup('post', '#', [
    {
      label: 'Password',
      placeholder: 'Password',
      required: true,
      name: 'password',
      id: 'password',
      type: 'password',
      maxlength: 30,
      minlength: 6,
      autofocus: true,
      autocomplete: false,
    },
    {
      label: 'New password',
      placeholder: 'New password',
      required: true,
      name: 'newPassword',
      id: 'newPassword',
      type: 'password',
      maxlength: 30,
      minlength: 6,
      autofocus: true,
      autocomplete: false,
    },
  ],
  'Save',
  )