extends ../layouts/content
include ../mixins/popup
append head
  title Change password
  link(rel="stylesheet", href="/styles/profile.scss")
  link(rel="stylesheet", href="/styles/form.scss")
  link(rel="stylesheet", href="/styles/popup.scss")
block content
  +popup(true, 'post', '#', [
    {
      label: 'Current password',
      placeholder: 'Current password',
      required: true,
      name: 'password',
      id: 'password',
      type: 'password',
      maxlength: 30,
      minlength: 6,
      autofocus: true,
      autocomplete: false,
      regexp: /[A-Z]+[0-9]+[@#\$&]*/
    },
    {
      label: 'New password',
      placeholder: 'New password',
      required: true,
      name: 'newPassword',
      id: 'newPassword',
      type: 'password',
      maxlength: 30,
      minlength: 6,
      autofocus: true,
      autocomplete: false,
      regexp: /[A-Z]+[0-9]+[@#\$&]*/
    },
  ],
  'Edit password',
  'Save password',
  )