extends ../layouts/content
include ../mixins/form
append head
  title Sign in 
  link(rel="stylesheet", href="/styles/form.scss")
block content
  +form('post', '#', [{
      label: 'Login',
      placeholder: 'Login',
      required: true,
      name: 'login',
      id: 'login',
      type: 'text',
      maxlength: 30,
      minlength: 3,
      autofocus: true,
      autocomplete: true,
      regexp: /^[A-ZА-Я][A-Za-zА-Яа-я-]+$/
    },
    {
      label: 'Password',
      placeholder: 'Password',
      required: true,
      name: 'password',
      id: 'password',
      type: 'password',
      maxlength: 30,
      minlength: 6,
      autofocus: true,
      autocomplete: false,
      regexp: /[A-Z]+[0-9]+[@#\$&]*/
    }],
    'Sign In',
    'Sign In',
    'No account? Sign up'
  )