include ./form

mixin(isOpened, method, action, inputs, submitButtonLabel, linkText)
  .popup(class=isOpened ? 'popup_is-opened': '')
    .popup__overlay
    .popup__content
      +form(method, action, inputs, submitButtonLabel, linkText)