.error-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.error-info {
  margin-bottom: 69px;
  text-align: center;
}

.error-title {
  font-weight: normal;
}
